.container {
	display: flex;
	flex-flow: row wrap;
}
.box {
	height: 100px;
	width: 100px;
	box-sizing: border-box;
	margin: 4px;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}